html {
  height: 100%;
  font-size: 62.5%;
  font-family: sans-serif;
}
body {
  display: flex;
  height: 100%;
  background: url('../asset/brickwall.png'); /* Background pattern from Subtle Patterns */
  flex-direction: column;
}

.header {
  height: 3.0rem;
  background: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.title {
  display: block;
  margin: 0.5rem;
  font-size: 2.0rem;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.app {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.app-left-side {
  width: 20.0rem;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}
.app-right-side {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.pane {
  position: relative;
  height: 100%;
}
.pane-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.2);
  font-size: 1.6rem;
  line-height: 2.0rem;
}
.pane-title {
}
.pane-body {
  background: rgba(0, 0, 0, 0.10);
}
.clip-options-button {
  color: #005090;
  font-weight: bold;
  text-decoration: underline;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
}
.clip-options-button:active {
  padding-left: 1px;
}
.pane-body {
  position: absolute;
  width: 100%;
  height: calc(100% - 2.0rem - 1px);
  overflow-x: auto;
  overflow-y: auto;
}

.source-pane-body {
  overflow-y: scroll;
}
.source-category-list {
}
.source-category {
}
.source-category-name {
  font-size: 1.6rem;
  line-height: 2.0rem;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.source-option-list {
}
.source-option-list-closed {
  display: none;
}
.source-option {
  padding: 1px 0;
  font-size: 1.6rem;
  cursor: pointer;
}
.source-option:hover {
  background: rgba(127, 207, 255, 0.15);
}

.selection-pane {
  height: 361px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.selected-option-target {
  margin: 8px 0 0 21px;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 2.0rem;
  list-style: none;
}
.selected-option-list {
  margin: 3px 0 0 21px;
  list-style: none;
}
.selected-option {
  position: relative;
  height: 3.3rem;
  width: 16.0rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 1.4rem;
  line-height: 2.0rem;
  cursor: pointer;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.selected-option-name {
  position: absolute;
  bottom: 3px;
  width: 16.0rem;
  text-align: center;
}

.result-pane {
  flex: 1;
}
.stat-list-list {
  display: flex;
  list-style: none;
  flex-direction: row;
}
.stat-list {
  margin: 8px 0 0 21px;
  list-style: none;
}
.stat {
  width: 12.2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 4px;
  margin-top: 10px;
}
.stat-name {
  display: inline-block;
  width: 8.0rem;
  font-size: 1.4rem;
  font-weight: bold;
}
.stat-value {
  display: inline-block;
  width: 3.0rem;
  font-size: 1.4rem;
  text-align: right;
}
.extra-list {
  margin: 13px 0 0 33px;
  list-style: initial;
}
.extra-title {
  font-size: 1.4rem;
  font-weight: bold;
  list-style: none;
  margin-left: -13px;
  margin-bottom: 5px;
}
.extra {
  margin-bottom: 8px;
}
.extra-value {
  font-size: 1.4rem;
}
